version: '3.9'

services:
  backend:
    build: .
    ports:
      - "3000:3000"
  database:
    image: postgres:14
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=aia-backend
